.project__container {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  align-items: center;
  border-bottom: 1px solid #444;
}

.project__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin: 0 auto 40px;
  text-align: center;
  color: #333;
}

.project__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto 40px;
  text-align: center;
  max-width: 600px;
  color: #555;
}

.project__list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.project__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.project__item:hover {
  transform: translateY(-10px);
}

.project__item-title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 20px auto 10px;
  text-align: center;
  color: #333;
}

.project__item-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto 20px;
  text-align: center;
  max-width: 600px;
  color: #555;
}

.project__item-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto 20px;
}

.project__item-links a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.project__item-links a:hover {
  background-color: #0056b3;
}

.project__item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 780px) {
  .project__container {
    padding: 20px 40px;
  }

  .project__title {
    font-size: 30px;
    line-height: 36px;
  }

  .project__description {
    font-size: 14px;
    line-height: 20px;
  }

  .project__item-title {
    font-size: 20px;
    line-height: 26px;
  }

  .project__item-description {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 595px) {
  .project__container {
    padding: 20px 16px;
  }

  .project__title {
    font-size: 24px;
    line-height: 30px;
  }

  .project__description {
    font-size: 12px;
    line-height: 18px;
  }

  .project__item-title {
    font-size: 18px;
    line-height: 24px;
  }

  .project__item-description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 450px) {
  .project__list {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .project__item {
    max-width: 100%; /* Ensure items do not exceed screen width */
  }
}
