.navbar {
  position: fixed;
  max-width: 1440px;
  top: 0;
  width: -webkit-fill-available;
  height: 80px;
  background-color: #333;
  color: white;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: space-between;
}

.navbar-name {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 40px;
}

.navbar-links {
  display: flex;
  margin-right: 40px;
}

.navbar-projects,
.navbar-socials {
  position: relative;
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-socials-list {
  display: none;
  position: absolute;
  top: 80px;
  right: -33px;
  background-color: #444;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-projects-list {
  display: none;
  position: absolute;
  width: 110px;
  top: 80px;
  right: -40px;
  background-color: #444;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-projects-list-item,
.navbar-socials-list-item {
  padding: 10px 20px;
}

.navbar-projects-list-item a,
.navbar-socials-list-item a {
  color: white;
  text-decoration: none;
}
/* 
.navbar-projects:hover .navbar-projects-list,
.navbar-projects-list:hover,
.navbar-socials:hover .navbar-socials-list,
.navbar-socials-list:hover {
  display: block;
  transition: all 0.3s ease-in-out;
} */

.navbar-projects:hover .navbar-projects-list,
.navbar-projects-list:hover {
  display: block;
}

.navbar-socials:hover .navbar-socials-list,
.navbar-socials-list:hover {
  display: block;
}
